github "Swinject/Swinject" 
github "Swinject/SwinjectStoryboard" 
github "SwiftyJSON/SwiftyJSON"
github "SwiftyJSON/Alamofire-SwiftyJSON"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "emaloney/CleanroomLogger"
